<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script th:src="@{/js/base64url.js}"></script>
  <script th:src="@{/js/webauthn.js}"></script>
</head>
<body>

  <form th:action="@{/signup}" th:object="${userForm}"  method="post">

    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Username" required autofocus />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" required />

    <a id="creds" href="#">Add Authenticator</a>
    <button id="submit" type="submit" disabled>Signup</button>

    <input id="clientDataJSON" name="authenticator.clientDataJSON" th:field="*{clientDataJSON}" type="hidden" />
    <input id="attestationObject" name="authenticator.attestationObject" th:field="*{attestationObject}" type="hidden" />
    <input id="clientExtensions" name="authenticator.clientExtensions" th:field="*{clientExtensions}" type="hidden" />
    <input id="userHandle" name="userHandle" th:field="*{userHandle}" type="hidden" />
  </form>

</body>
</html>