<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script th:src="@{/js/base64url.js}"></script>
    <script th:src="@{/js/webauthn.js}"></script>

</head>
<body>

<p th:text="'Hello, ' + ${name} + ' present your token!'" />

<button id="signin" >signin</button>

<form th:action="@{/login}" method="post" id="login-form">
    <input id="credentialId" name="credentialId" type="hidden" />
    <input id="clientDataJSON" name="clientDataJSON" type="hidden" />
    <input id="authenticatorData" name="authenticatorData" type="hidden" />
    <input id="signature" name="signature" type="hidden" />
    <input id="clientExtensions" name="clientExtensions" type="hidden" />
</form>

</body>
</html>