<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/login}" method="post" id="login-form">
    <label for="username" >Username</label>
    <input type="text" id="username" name="username" required autofocus />

    <label for="password" >Password</label>
    <input type="password" id="password" name="password" required />

    <button id="login"  type="submit">Login</button>
</form>

<p>
    Rather <a href="/signup">Signup? </a>
</p>

</body>
</html>